$standard_yellow: #f0d78c;
$standard_white: #fcfafa;
$standard_light_blue: #64c4ed;
$standard_blue: #4f81c7;

//Trendy Color

$trendy_blue:#2a1a5e;
$trendy_orange:#f45905;
$trendy_light_orange:#fb9224;
$trendy_sunrise:#fbe555;
